.idea/
*.iml
*.iws
*.ipr.idea
*/*/__pycache__
*/__pycache__

*.db


static/vendor/
/db.sqlite3
/products/migrations/0001_initial.py
/products/migrations/0002_initial.py
/users/migrations/0001_initial.py
